* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 7000px;
}

.container {
    width: 75%;
    margin: auto;
}

.navbar {
    background-color: black;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.navbar img {
    width: 50%;
    display: flex;
}

.page-links ul {
    display: flex;
    gap: 20px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 33.33%;
    margin-top: 20px;
    padding: 8px;
}

.portfolio-item img {
    display: flex;
    width: 100%;
}

.portfolio h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: xx-large;
}

.portfolio p {
    text-align: center;
}